.Create-main-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  padding: var(--m);
  flex-grow: 1 0;
}

.Create-GridBorder {
  background-color: rgb(19, 19, 19);
  /* max-width: ; */
  min-width: 40vw;
}

.Create-Grid {
  --size: 10;
  display: grid;
  grid-gap: 2px;
  grid-template-rows: repeat(var(--size), 1fr) max-content;
  grid-template-columns: repeat(var(--size), 1fr);
}

.cell {
  /* border-radius: var(--xs); */
  background-color: white;
  padding-bottom: 100%;
  cursor: pointer;
}

.cell:hover {
  background-color: rgb(230, 229, 229);
}

.u-unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  -ms-user-select: none;
  user-select: none;
}
