.Create-main-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  padding: var(--m);
  flex-wrap: wrap;
}

.Create-GridBorder {
  background-color: rgb(19, 19, 19);
  min-width: 40vw;
}

.Create-Grid {
  display: grid;
  grid-gap: 2px;
  grid-template-rows: repeat(var(--gridsize), 1fr);
  grid-template-columns: repeat(var(--gridsize), 1fr);
}

.cell {
  /* border-radius: var(--xs); */
  background-color: white;
  padding-bottom: 100%;
  cursor: pointer;
}

.cell:hover {
  background-color: rgb(230, 229, 229);
}

.u-unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  -ms-user-select: none;
  user-select: none;
}
