.MainProfile-container {
  background-color: var(--white);
  padding: var(--m);
  border-radius: var(--l);
  display: flex;
  justify-content: center;
}

.MainProfile-userInfo {
  padding: var(--m) var(--l);
  margin-left: var(--m);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.MainProfile-imageContainer {
  width: 12%;
  height: 12%;
  display: flex;
  justify-content: center;
}

.MainProfile-username {
  font-size: xx-large;
}

.MainProfile-img {
  margin-left: var(--l);
  padding: var(--m);
  max-width: 100%;
  height: auto;
}

.MainProfile-UnfollowButton {
  background-color: var(--primary--darkest);
  color: var(--white);
  border-radius: var(--m);
  font: var(--primary-font);
  max-width: min-content;
  padding: var(--xs) var(--m);
}
.MainProfile-UnfollowButton:hover {
  background-color: var(--primary--dark);
  cursor: pointer;
}

.MainProfile-FollowButton {
  background-color: var(--primary--lightest);
  color: var(--primary--darkest);
  border-radius: var(--m);
  font: var(--primary-font);
  max-width: min-content;
  padding: var(--xs) var(--m);
}
.MainProfile-FollowButton:hover {
  background-color: var(--primary--light);
  cursor: pointer;
}
