.UserGrid-container {
  background-color: var(--white);
  padding: var(--m);
  border-radius: var(--l);
  margin: var(--m) 0 0 0;
}

.UserGrid-grid {
  display: grid;
  grid-gap: 1vw;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(3, 1fr);

  padding-left: 0;
  margin: var(--m) 0 0 0;
}

.UserGrid-none {
  display: flex;
  justify-content: center;
  font-size: x-large;
}

@media screen and (max-width: 1250px) {
  .UserGrid-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 820px) {
  .UserGrid-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
